html {
  scroll-behavior: smooth;
}
a {
	color: #ffec07;
}

.img{
	border-radius: 20px;
}
.parallax {
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background: url("../images/bg-pattern.png"),#000;
	    
}

.text-smaller, label {
    font-size: 14px;
    line-height: 20px;
}
.cta-btn {
	
	padding-left: 36px;
    padding-right: 36px;
	    padding-top: 16px!important;
    padding-bottom: 16px!important;
	margin-top: 8px;
	box-shadow: 0 5px 12px rgb(47 49 63 / 4%), 0 2px 6px rgb(47 49 63 / 6%), 0 1px 2px rgb(47 49 63 / 5%);
	background-color: #fff;
	    line-height: 24px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
	 font-size: 14px;
	text-decoration: none;
}

.ctn-btn a{
	text-decoration: none;
}


.floating {   
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px; 
    margin-top: 5px; 
} 
  
@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }     
} 

body {
    font-family: 'Nunito', sans-serif;
    background: #fff;
}

.davshadow {
	box-shadow: 0 4px 8px 0 #131111;
}
.davshadowgrey {
	box-shadow: 0 4px 8px 0 grey;
}
.intro {
    /*background: #f1f7ff;
    height: 100vh;*/
	
}
.intro .content {
   /* margin-top: 50px;*/

}
.intro .content .left {
	padding-top: 10rem;
    margin-bottom: 1rem;

}
.intro .content .right {
    margin-bottom: -5rem;

}

.intro .content .left h1 {
    font-size: 45px;
    font-weight: 400;
    color: #fff;
    line-height: 55px;
    margin: 0;
    padding: 0;
}
.intro .content .left p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 26px;
    padding: 0;
    margin: 10px 0 30px;
}
.intro .content .left .social {
    font-size: 2rem;
	width: 25%;
	align-content: center;
	align-self: center;
	align-items: center;
}
.intro .content .left .cta-btn {
    color: #000;
	padding: 1rem;
	font-weight: 30;
	border-radius: 0.6rem;
}
.intro .content .left .btn-1 {
    background: linear-gradient(to right, #507bf5 0%,#04c3e1 100%);
    box-shadow: 1px 1px 3px 0 rgb(42 47 169 / 62%);
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 45px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}
.intro .content .left .btn-2 {
    background: transparent;
    border: 1px solid #1e3056;
    text-decoration: none;
    color: #1e3056;
    border-radius: 5px;
    padding: 10px 45px;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
}



.contact-me {
	background: -webkit-linear-gradient(#1e7e34, #000000e6), url("../images/WBS_1512.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 120px 0;
}
.contact-me .items h3 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    padding: 0;
    margin: 20px 0 2px;
}
.contact-me .items h4 {
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    padding: 0;
    margin: 0;
}



.about-me {
    padding: 120px 0;
	background-image: linear-gradient(to left, #ffffffe3, #ffffffe3), url(../images/WBS_1507.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-me .table {
        font-size: 16px;
    font-weight: 400;
    color: #4d6479;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 40px;
}
.about-me .ul {
        font-size: 16px;
    font-weight: 400;
    color: #4d6479;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 40px;
}
.about-me .right span {
    font-size: 16px;
    color: #557ff5;
    font-weight: 600;
}
.about-me .right h2 {
    font-size: 25px;
    color: #3b566e;
    font-weight: 600;
    line-height: 32px;
}
.about-me .right p {
    font-size: 16px;
    font-weight: 400;
    color: #4d6479;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 40px;
}
.about-me .left span {
    font-size: 16px;
    color: #557ff5;
    font-weight: 600;
}
.about-me .left h2 {
    font-size: 25px;
    color: #3b566e;
    font-weight: 600;
    line-height: 32px;
}
.about-me .left p {
    font-size: 16px;
    font-weight: 400;
    color: #4d6479;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 40px;
}
.about-me .middle span {
    font-size: 16px;
    color: #557ff5;
    font-weight: 600;
}
.about-me .middle h2 {
    font-size: 25px;
    color: #3b566e;
    font-weight: 600;
    line-height: 32px;
}
.about-me .middle p {
    font-size: 16px;
    font-weight: 400;
    color: #4d6479;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 40px;
}



.pulse {
    animation: pulse 1s infinite;
    animation-duration: 2s;
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}



.footer {
    padding: 10px 0;
	background: #fff;
}
.footer p {
    font-size: 15px;
    font-weight: 500;
    color: #053a20;
    margin: 20px 0 0;
	
}

@media (max-width: 383.98px) {
    .slider .content .left .btn-1 {
        margin-bottom: 20px;
    }
    .slider .content .left .btn-2 {
        margin-left: 0;
    }
}


@media (max-width: 575.98px) {
   

   
    .slider {
        height: auto;
        padding: 120px 0;
    }
    .slider .content {
        text-align: center;
    }
    .slider .content .left {
        margin-bottom: 40px;
    }



    
}

@media (max-width: 767.98px) {
   

    
    .slider {
        height: auto;
        padding: 120px 0;
    }
    .slider .content {
        text-align: center;
    }
    .slider .content .left {
        margin-bottom: 40px;
    }

    

}


@media (max-width: 991.98px) {
  
    .slider {
        height: auto;
        padding: 120px 0;
    }
    .slider .content .left h1 {
        font-size: 35px;
    }
    .slider .content .left p {
        font-size: 15px;
    }

   
}


@media (max-width: 1199.98px) {
}
